POSTGRES_PASSWORD=replace-with-a-long-random-password
USER_INDEX_TTL_MS=21600000
DETAIL_FETCH_LIMIT=40
DETAIL_FETCH_CONCURRENCY=3
PLACE_FETCH_LIMIT=20
UPSTREAM_MIN_INTERVAL_MS=350
SYNC_RETRY_COOLDOWN_MS=300000
